.main{
    background-color:#A9A9A9;
    padding: 10px;
}

#logo{
    margin-left: 10px;
}

.Nav-Text-Div{
    background-color: #A9A9A9;
    text-align: center; 
}

.anchor{
    padding-left: 3px;
    padding-right: 3px;
}

.card{
    text-align: center;
    border:2px solid #000;
}

.centered-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 10%;
    top: 10%;
    text-align: center;
}

.boxed{
    margin: auto;
    width: 250px;
    border: 1px solid black;
}

.button{
    width: 250px;
}