{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="d-flex align-items-center justify-content-center row">
        <form action="{{url_for('taskPage', project_title=project.title, task_title=task.title)}}" method="POST">
            <label for="task_title" class="text-uppercase">Task Title </label>
            <br>
            <input name="task_title"class="custom-width" value="{{task.title}}" type="text">
            <br>
            <label for="task_desc" class="text-uppercase mt-3">Task Description </label>
            <br>
            <textarea name="task_desc" class="desc-text-input" type="text">{{task.description}}</textarea>
            <br>
            <input type="submit" class="btn btn-primary mt-3"></input>
            <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#deleteModal" >Delete Task</button>
            <a href="{{url_for('taskPage', project_title=project.title, task_title=task.title)}}" class="btn btn-secondary mt-3">Cancel</a>
    </div>
</div>

<!--Try to fix delete task situation-->

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLongTitle">Delete Task?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This will delete the task permanently
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{url_for('deleteTask', project_title=project.title, task_title=task.title)}}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}