{% extends "layout.html" %}
{% block content %}

    <div class="container">
        <div class="d-flex align-items-center justify-content-center row">
            {% for project in projects %}
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title text-center">{{project.title}}</h5>
                    <p class="card-text text-center">{{project.description}}</p>
                    <div class="text-center">
                        <a href="{{url_for('projectPage', project_title=project.title)}}" class="btn btn-primary">Project page</a>
                    </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>
    

{% endblock %}