{% extends "layout.html" %}
{% block content %}
    <div>
        {% for project in projects %}
            <div class="card center">
                <div class="boxed">
                    <button class="button">
                        <a href="{{url_for('projectPage', project_id=project.id)}}">{{ project.title }}</a>
                    </button>
                </div>
                <p>{{ project.description  }}</p>
                <p>Managed by {{ project.manager }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}